*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header{
    background: url(imagens/fundo.png) repeat-x;
    position: absolute;
    left: -5px;
    top: -1%;
    width: 101%;
    height: 233px;
}

.logo{
    position: relative;
    top: 20px;
}

.conteudos-header{
    margin: auto;
    /* border: 1px solid red; */
    width: 75%;
    height: 70%;
    position: relative;
    top: 3%;
}

.brasil{
    height: 100%;
    float: right;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.navegacao{
    position: relative;
    top: 40px;
    background: #E10039;
}

#ultimo>a{
    text-decoration: none;
    color: white; 
    float: left;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #E10039 no-repeat;
    background-position: right;
}

.link-cabecalho>a{
    text-decoration: none;
    color: white; 
    float: left;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: url(imagens/divisor.png) #E10039 no-repeat;
    background-position: right;
    font-size: 105%;
}

.link-cabecalho>a:hover, #ultimo>a:hover{
    background: #B60033;
}

.conteudo-principal{
    border: 1px solid red;
    width: 80%;
    position: relative;
    top: 233px;
    margin: auto;
}

h1{
    background: #294970;
    color: white;
    padding: 5px;
    font-size: 25px;
}
.coluna-1{
    width: 20%;
    border: 1px solid greenyellow;
    float: left;
    display: inline-block;
    margin-right: 7.5%;
}
.entrevistados{
    padding: 5px;
    padding-left: 30px;
    font-size: 17px;
}
input{
    width: 60%;
    position: relative;
    bottom: 36px;
    left: 50px;
}
form>p{
    width: 30%;
    position: relative;
    left: -1px;
}

.botao{
    color: #ffffff;
    background: #E10039;
    position: relative;
    left: -1px;
    bottom: 15px;
    font-size: 17px;
    width: 40%;
    border: 1px solid #B60033;
}
.news{
    margin-top: 100px;
}
.coluna-2{
    width: 32%;
    display: inline-block;
    border: 1px solid blue;
    float: left;
    justify-content: center;
}
#doutor{
    width: 80%;
}
h2{
    background: #E10039;
    font-size: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 80%;
}
.coluna-2 p{
    width: 80%;
    margin-bottom: 0px;
}
.coluna-2 a{
    color: #B60033;
}
.mininoticia img{
    width: 40%;
    border: 1px solid red;
}
.mininoticia h3{
    color: #7282a7;
}

.mininoticia div{
    border: 1px solid purple;
    width: 35%;
}